@charset "utf-8";

.wrap {
  width: 100%;
  background-color: #ffffff;
  clear: both;
}

.c1 {
  padding-top: 38px;
}

.w1200 {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

.sortbox {
  height: 340px;
  border-radius: 5px 0 0 5px;
  float: left;
  display: table;
}

.sort-l {
  z-index: 19;
  color: rgb(51, 51, 51);
  display: table-cell;
  width: 245px;
}

.sort-l dl.sortTag {
  padding-left: 25px;
  margin-block-start:0px;
  margin-block-end: 0px;
  margin: 0;
  height: 80px;
  background: url(../assets/line.gif) no-repeat center bottom;
}

.sort-l dl.itemSelectbg {
  overflow:hidden;
  background-color:#ff874b;
  background-image: none;
  cursor: pointer;
}

.sort-l dl dt {
  font-size: 18px;
  height: 33px;
  line-height: 33px;
  padding-left: 0;
  padding-right: 25px;
  padding-top: 10px;
  text-align: left;
}

.sort-l dl dd {
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  text-align: left;
  padding: 0;
  margin: 0;
}

.sort-l dl dt a {
  color: #333;
  text-decoration: none;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.sort-l dl:hover dt a {
  font-weight: 400;
}

.sort-l dl dt a:hover {
  font-weight: 700;
}

.sort-l dl dt i {
  float: right;
  background: url(../assets/bigitembg.png) no-repeat 0 0;
  width: 5px;
  height: 12px;
  display: inline-block;
  margin-top: 11px;
}

.sort-l dl dd a {
  margin-right: 25px;
  white-space: nowrap;
  color: #666;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  display: inline-block;
}

.sort-l dl:hover dd a {
  text-decoration: none;
}

.sort-l dl dd a:hover {
  text-decoration: underline;
}

.sort-list {
  display: block;
  width: 677px;
  overflow: hidden;
  height: 340px;
}

.sort-t dl {
  background-color: #fff;
  background-color: rgba(255,255,255,0.97);
  padding-top: 26px;
  padding-left: 50px;
  height: 137px;
}

.sort-t dl dt {
  line-height: 40px;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  text-align: left;
}

.sort-l dl dd a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
  margin-right: 30px;
  white-space: nowrap;
}

.sort-r {
  left: 245px;
  top: 0;
  z-index: 9;
  display: table-cell;
}

.sort-r .sort-list .sort-t dl dd {
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-align: left;
  overflow: visible;
}

.sort-r a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
  margin-right: 30px;
  white-space: nowrap;
  display: inline-block;
}

.sort-r a:hover {
  text-decoration: underline;
}

.wrap c2 {
  width: 1200px;
  background-color: #ffffff;
  clear: both;
}

.new-title {
  margin-top: 20px;
  line-height: 83px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ba8a40;
}

.ul-imglist {
  width: 1200px;
  height: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.ul-imglist .li {
  width: 224px;
  float: left;
  margin-right: 10px;
  padding-bottom: 22px;
}

.ul-imglist .li .a-c .li-img {
  width: 224px;
  height: 168px;
  /*position: relative;*/
}

.ul-imglist .li .a-c .li-img .img {
  width: 224px;
  height: 168px;
  overflow: hidden;
  display: block;
  border-radius: 4px 4px 4px 4px;
  /*position: absolute;*/
  left: 0;
  top: 0;
  z-index: 1;
}

.ul-imglist .li .a-c .li-b {
  line-height: 27px;
  height: 27px;
  overflow: hidden;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.ul-imglist .li .a-c .li-b .li-b-l {
  color: #999;
  line-height: 27px;
  height: 27px;
  overflow: hidden;
  display: inline-block;
  width: 190px;
}

.ul-imglist .li .a-c .li-b .li-b-r {
  color: #d01212;
  float: right;
  font-size: 14px;
}

.ul-imglist .li .a-c h3 {
  line-height: 32px;
  height: 32px;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  margin: 17px 0 0 0;
  padding: 0;
  color: rgb(51, 51, 51);
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
}

.ul-imglist .li .a-c h3:hover {
  text-decoration: underline;
}

.boutique {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 125px;
}

.boutique h2.h2 {
  line-height: 83px;
  font-size: 18px;
  color: #ba8a40;
  letter-spacing: 2px;
  font-weight: 500;
}

.boutiquelist {
  width: 1200px;
}

.boutiquelist .li {
  width: 224px;
  float: left;
  margin-right: 10px;
  padding-bottom: 20px;
}
